
.modal-dialog .modal-content {
    border-radius: 20px;
    font-family: var(--font-primary);
    
    .modal-footer {
        border-top: none;
        button {
            background-color: #c53636;
        }
    }
    .modal-header {
        border-bottom: none;
        .modal-title {
            text-align: center;
            width: 100%;
        }
    }

}