
.appointment-form {
    input {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    label {
        margin: 10px 0px 10px 0px;
    }
    .btn-submit {
        background-color: var(--background-color);
        color: white;
        margin-top: 10px;
    }
    .btn-submit:hover {
        background-color: var(--background-color-hover);
        margin-top: 10px;
    }
    .btn-submit:disabled {
        background-color: rgb(207, 207, 207); 
    }
    
    .btn-submit:disabled:hover {
        background-color: rgb(207, 207, 207); 
    }
    .react-datepicker-wrapper {
        width: 100%;
    }
    .react-datepicker{
        font-family: var(--font-primary);
        .react-datepicker__time-list-item--disabled{
            display: none;
        }
        .react-datepicker__day--keyboard-selected {
            background-color: rgba(0,0,0,0);
        }
        .react-datepicker__day--selected {
            background-color: var(--background-color);
        }
        .react-datepicker__day--outside-month {
            background-color: rgba(0,0,0,0);
        }
    }


    .phone-input-container {
        width: 100%;
        margin: 10px 0px 10px 0px;
        font-family: var(--font-primary);
    }
    
    .phone-input-container .form-control {
        width: 100%;
        padding-left: 50px !important; 
    }
    
    .phone-input-flag-button {
        background: transparent !important;
        border: none !important;
        padding: 5px;
    }

    .country-list {
        overflow-x: hidden;
    }
}
@media (min-width: 0px) {
    .appointment-form .react-datepicker {
        border: 0;
    } 
}

