
.appointment-form {
    input {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    button {
        background-color: var(--background-color);
        color: white;
        margin-top: 10px;
    }
    button:hover {
        background-color: var(--background-color-hover);
        margin-top: 10px;
    }
    .react-datepicker-wrapper {
        width: 100%;
    }
    .react-datepicker{
        font-family: var(--font-primary);
        .react-datepicker__time-list-item--disabled{
            display: none;
        }
    }


    .phone-input-container {
        width: 100%;
        margin: 10px 0px 10px 0px;
        font-family: var(--font-primary);
    }
    
    .phone-input-container .form-control {
        width: 100%;
        padding-left: 50px !important; 
    }
    
    .phone-input-flag-button {
        background: transparent !important;
        border: none !important;
        padding: 5px;
    }
}