.rbc-event {
background-color: #de823a !important;
color: white !important;
}

.rbc-toolbar {
font-size: 16px;
color: #333;
}

.rbc-active {
    background-color: #de823a !important;
    color: white !important;
}

.rbc-calendar {
    margin-bottom: 5%;
    font-family: 'Montserrat', Courier;
}

.rbc-toolbar-label {
    margin: 0;
    padding: 0;
}

.rbc-agenda-event-cell p {
    margin: 0;
}