.rbc-event {
background-color: var(--background-color) !important;
color: white !important;
}

.rbc-toolbar {
font-size: 16px;
color: #333;
}

.rbc-active {
    background-color: var(--background-color) !important;
    color: white !important;
}

.rbc-calendar {
    margin-bottom: 5%;
    font-family: var(--font-primary);
}

.rbc-toolbar-label {
    margin: 0;
    padding: 0;
}

.rbc-agenda-event-cell p {
    margin: 0;
}