.day-selector {
    font-family: 'Montserrat', sans-serif;
    border: none;

    .react-datepicker__month-container {
        font-family: 'Montserrat', sans-serif;
    }
    button {
        width: 50%;
        margin: 0 auto; 
        display: block; 
        
    }
    button:hover {
        background-color: #de823a;
        color: white;
    }

    @media (min-width: 1400px) {
        .react-datepicker {
            font-size: 1rem;
            width: 64%;
        }
        
        .react-datepicker__day {
            width: 3rem; 
            height: 3rem; 
            line-height: 3rem; 
        }
        
        .react-datepicker__day-name {
            margin: 10px;
        }
        
        .react-datepicker__header {
            font-size: 1.5rem; 
            padding: 20px; 
        }
        
        .react-datepicker__navigation {
            top: 20px; 
            width: 3rem; 
            height: 3rem;
        }
    }

    @media (min-width: 0px) {

    }
}