footer {
  width: 100%;
  padding: 3%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);

  .title {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
    text-align: center;       
  }

  h1 {
    font-family: var(--font-brand);
    font-size: 60px;
    width: 100%; 
    margin: 0;   
  }

  ul {
    list-style: none;
    padding: 0;

    li.social-item {
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
      }

      a {
        color: var(--text-color);
        text-decoration: none;
        display: flex;
        align-items: center;
      }

      .social-icon {
        margin-right: 8px;
      }
    }
  }

  .solidcat-signature {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 120px;
      height: auto;
    }
  }

  .footer-button {
    margin-bottom: 5%;

    a {
      background-color: rgba(0, 0, 0, 0);
      font-family: var(--font-primary);
      color: var(--text-color);
      border: var(--background-text-color) solid 0.5px;
      padding: 1%;
      text-decoration: none;
    }
  }

  @media (min-width: 0px) {
    h1 {
      font-size: 45px;
      margin-bottom: 10px;
    }

    .footer-button {
      text-align: center;
    }

    .copy {
      margin-bottom: 15px;
    }
  }

  @media (min-width: 768px) {
    .title {
      justify-content: flex-start; 
      text-align: center;
      h1 {
        font-size: 70px;
        margin-top: 20px;
      }
    }
    .copy {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 900px) {
    h1 {
      font-size: 80px;
      margin-top: 40px;
    }
  }

  @media (min-width: 1488px) {
    h1 {
      font-size: 100px;
      margin-top: 20px;
    }
  }
}
