footer {
  width: 100%;
  padding: 3%;
  background-color: var(--background-color);
  color: var(--backgroud-text-color);
  font-family: var(--font-secondary);

  h1 {
    font-family: 'Anton', Courier, monospace;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      margin-bottom: 8px;
      a {
        color: var(--backgroud-text-color);
        text-decoration: none;
      }
    }
  }
  span {
    margin-top: 5px;
  }
  .footer-button {
    margin-bottom: 5%;
    a {
      background-color: rgba(0, 0, 0, 0);
      font-family: var(--font-secondary);
      color: var(--backgroud-text-color);
      border: var(--backgroud-text-color) solid 0.5px;
      padding: 1%;
      text-decoration: none;

    }
  }
}

/* Tablets and above */
@media (min-width: 0px) {
  footer {
    h1 {
      font-size: 60px;
      text-align: center;
    }
    .footer-button {
      text-align: center;
    }
  }
}

/* Laptops and above */
@media (min-width: 768px) {
  footer {
    h1 {
    font-size: 80px;
    text-align: left;
    }
    .footer-button {
      text-align: left;
    }
  }
}

/* Desktops and above */
@media (min-width: 992px) {
  footer {
    h1 {
      font-size: 90px;
    }
  }
}