

.header-title {
    background-color: var(--backgroud-text-color);
    font-family: var(--font-primary);
    font-weight: 100;
    font-size: 200%;
    padding: 3%;
    b {
        font-weight: 600;
    }
    a {
        text-decoration: none;
        color: var(--background-color);
    }
}