
.password-wrapper {
    position: relative;

    .eye-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: grey;
    }
}