
.service {
  position: relative;
  img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
  }
  .service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    .info {
      width: 50%;
      padding: 3% 0% 0% 10%;
      h2 {
        font-size: 47.8px;
        font-family: var(--font-title);
        color: var(--backgroud-text-color);
      }
      p {
        font-size: 19px;
        font-family: var(--font-secondary);
        color: var(--backgroud-text-color);
      }
      button {
        background-color: rgba(0, 0, 0, 0);
        font-family: var(--font-secondary);
        color: var(--backgroud-text-color);
        border: var(--backgroud-text-color) solid 0.5px;
        padding: 1%;
      }
    }
  }
}


  /* Tablets and above */
@media (min-width: 0px) {
  .service .service-overlay .info p {
    font-size: 13px;
  }
  .service .service-overlay .info h2 {
    font-size: 40px;
  }
  .service .service-overlay .info button {
    font-size: 13px;
  }
  .service .service-overlay .info {
    margin-top: 30px;
  }
}



/* Desktops and above */
@media (min-width: 800px) {
  .service .service-overlay .info p {
    font-size: 19px;
  }
  .service .service-overlay .info h2 {
    font-size: 47.8px;
  }
  .service .service-overlay .info button {
    font-size: 20px;
  }
  .service .service-overlay .info {
    margin-top: 0px;
  }
}

