.subtitulo{
    text-align: center;
    padding: 3%;
    p {
      color: var(--background-color);
      font-size: 40px;
      font-family: var(--font-secondary);
    }
  }

.service-container {
  padding: 0px;
}