.subtitulo{
    text-align: center;
    padding: 3%;
    p {
      color: var(--background-color);
      font-size: 50px;
      font-family: var(--font-primary);
      font-weight: 600;
    }
  }

.service-container {
  padding: 0px;
}