

.service-title-admin {
    font-family: var(--font-primary);
    color: var(--text-color);
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    font-size: 150%;
}

.admin-container {
    margin-top: 120px;
}


.admin-navbar {
    font-family: var(--font-primary);
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    box-sizing: border-box;   
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

    h3 {
        margin: 20px 0px 10px 0px;
        font-weight: 500;
        font-size: 150%;
        span {
            font-weight: 200;
        }
        a {
            font-family: var(--font-brand);
            text-decoration: none;
            color: var(--text-color);
        }
    }

    .admin-options {
        margin-top: 20%;
        margin-left: 20px;
        height: calc(100% - 20%); 
        text-align: left;
        button {
            text-align: left;
            border: 0;
            background-color: rgba(0,0,0,0);
            color: var(--text-color);
        }

        button:hover {
            color: #262626;
            svg {
                filter: drop-shadow(0 0 10px rgba(204, 204, 204, 0.747));
            }
        }

        /* button:last-child {
            margin-top: auto; 
        } */
    }
}

.admin-content {
    font-family: var(--font-primary);
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;

    .dayselectors {
        margin: 30px 0px 0px 0px;  
    }

    .status-paid {
        font-weight: bold;
        color: rgb(40, 117, 40);
    }

    .status-pending {
        font-weight: bold;
        color: rgb(151, 134, 36);
    }

    .btn-reload {
        border: none;
        background-color: rgba(0,0,0,0);
        margin-left: 10px;
    }
    .btn-reload:hover {
        svg {
            transform: scale(1.2);
        } 
    }

    .pagination-buttons span{
        margin: 0px 10px 0px 10px;
    }

}

.re-schedule-form {
    .react-datepicker__time-list-item--disabled{
        display: none;
    }
    .cancel-button {
        border: none;
        background-color: rgb(197, 54, 54) !important;
    }
    .cancel-button:hover {
        border: none;
        background-color: rgb(151, 43, 43) !important;
    }
    .save-changes-button {
        border: none;
        background-color: rgb(52, 107, 52) !important;
    }
    .save-changes-button:hover {
        border: none;
        background-color: rgb(38, 78, 38) !important;
    }
}



@media (max-width: 767px) {
    .admin-navbar {
        height: auto;
        .admin-options {
            margin-top: 0;
        }
    }
    
}
