@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

.image-content {
  position: relative;
}

img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #de813a42; 
  h1 {
    font-family: var(--font-secondary);
    color: white;
    font-size: 100px;
    position: absolute;
    top: 400px;
    left: 300px;
  }
}